@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-void: #030303;
  --color-carbon: #121212;
  --color-primary: #6366f1;
  --color-accent: #06b6d4;

  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #030303;
    @apply bg-void text-white font-sans antialiased selection:bg-primary/30 selection:text-white;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}